.parent {
    display: flex;
    padding: 5px;
    border: 1px solid black;
}
.child {
    width: 100px;
    padding: 100px;
    margin: 0;
    color: white;
}
.child:first-of-type {
    flex-grow: 1;
    flex-direction: column;
    flex-wrap: wrap;
    flex-shrink: 3;
    background-color: red;
}
.child:nth-of-type(2) {
    flex-grow: 2;
    flex-direction: column;
    flex-wrap: wrap;
    flex-shrink: 2;
    background-color: blue;
}
.child:last-of-type {
    flex-grow: 3;
    flex-direction: column;
    flex-wrap: wrap;
    flex-shrink: 1;
    background-color: green;
}